@import "../../src/styles/blocs/var";
@import "../../src/styles/utils/mixins";
@import "../../src/styles/blocs/header";
@import "../../src/styles/blocs/icons";
@import "../../src/styles/blocs/nav";
@import "../../src/styles/blocs/top-bar";
@import "../../src/styles/blocs/recommend";
@import "../../src/styles/blocs/product";
@import "../../src/styles/blocs/categories";
@import "../../src/styles/blocs/about";
@import "../../src/styles/blocs/contact";
@import "../../src/styles/blocs/menu";

// #region Page
* {
  box-sizing: border-box;
}

.page {
  font-family: $font-default;
  color: $color-default;
  scroll-behavior: smooth;
  min-width: $mobilo-responsive;
  scrollbar-width: none;
}

// #endregion
