// #region Responsive Header
@mixin header-response() {
  @media (min-width: $tablet-responsive) {
    margin-inline: auto;
    row-gap: 737px;
  }

  @media (min-width: $desktop-responsive) {
    margin-inline: auto;
    row-gap: 448px;
  }
}

// Header Bottom
@mixin header-bottom-response() {
  @media (min-width: $tablet-responsive) {
    width: 392px;
    height: 96px;
    margin-left: 72px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-responsive) {
    width: 411px;
    height: 112px;
    margin-left: 120px;
    margin-bottom: 64px;
  }
}

// Header Title
@mixin header-title-response() {
  @media (min-width: $tablet-responsive) {
    height: 100vh;
    font-size: 48px;
  }

  @media (min-width: $desktop-responsive) {
    font-size: 56px;
  }
}

// #endregion

// #region Responsive icon

// icons
@mixin icons-tablet-desktop() {
  @media (min-width: $tablet-responsive) {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      height: $tablet-descktop-icons;
      width: $tablet-descktop-icons;
  }

}

// #endregion

// #region Response
@mixin on-mobile() {
  @media (min-width: $mobilo-responsive) {
    @content;
  }
}

@mixin on-tablet() {
  @media (min-width: $tablet-responsive) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: $desktop-responsive) {
    @content;
  }
}

// #endregion
