.contact {
  display: grid;
  width: 100%;
  height: auto;

  &__card {
    display: grid;
    max-width: 320px;
    margin-inline: auto;
    column-gap: 111px;

    @include on-tablet {
      max-width: 744px;
    }

    @include on-desktop {
      max-width: 1020px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    max-width: 320px;
    width: 100%;
    margin-inline: auto;
    font-size: 32px;
    font-weight: 700;
    margin-block: 64px 48px;

    @include on-tablet {
      max-width: 744px;
      margin-block: 120px 72px;
    }

    @include on-desktop {
      max-width: 1020px;
    }
  }

  &__message {
    display: block;
    width: 280px;

    @include on-tablet {
      width: 600px;
    }

    @include on-desktop {
      width: 498px;
    }
  }

  &__input {
    background-color: #F9F9F9;
    padding-inline: 16px;
    padding-block: 14px;

    width: 100%;
    height: 48px;

    margin-block: 0 16px;

    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 400;
    font-family: $font-default;
    line-height: 140%;
  }

  &__area {
    height: 148px;
    margin-bottom: 32px;
  }

  &__send {
    width: 100%;
    height: 56px;

    color: #FFF;
    background-color: #1B2129;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;

    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: #CCC;
      color: #000;
      transform: scale(1.1);
    }
  }

  .info {
    color: #9393A3;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__phone-number {
    color: #191919;
    text-decoration: none;
  }
}

.infos__margin {
  margin-bottom: 24px;
}

.infos__margin:last-child {
  margin-bottom: 0;
}

.contact__card-infos {
  width: 280px;

  @include on-tablet {
    width: 600px;
  }

  @include on-desktop {
    width: 411px;
    height: 411px;
  }
}
