// #region Header
.header {
  display: grid;
  row-gap: 384px;
  height: 100vh;

  background-image: url(../imgs/intro-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include header-response;
}

.header__bottom {
  padding: 0 20px 40px;
  height: 72px;
  width: 280px;
  margin-bottom: 40px;

  @include header-bottom-response;
}

.header__title {
  margin: 0;

  font-family: $font-default;
  font-weight: 700;
  font-size: 36px;

  color: $color-white;

  @include header-title-response;

}

// #endregion
