// #region Menu
.menu {
  overflow: auto;
  height: 100vh;
  background-color: $color-bck-menu;

  &__top {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;

    display: flex;
    height: 72px;
    padding: 32px 120px;
    margin-bottom: 32px;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: 120px;
    }
  }

  &__phone-number {
    display: block;
    height: 22px;
    color: inherit;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 700;

    letter-spacing: 2px;
    word-spacing: 1px;

    width: 280px;

    margin-bottom: 16px;

    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #CCC;
      transform: scale(1.05);
    }
  }

  &__call-order {
    display: block;
    height: 22px;
    color: inherit;

    padding-bottom: 4px;

    border-bottom: 1px solid $color-default;

    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 700;

    letter-spacing: 2px;
    word-spacing: 1px;

    width: fit-content;

    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #CCC;
      transform: scale(1.05);
    }
  }
}

.nav__item:last-child {
  margin-top: 48px;
}

.nav__list {
  list-style: none;
}

.nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 22px;

  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    color: #CCC;
    transform: scale(1.05);
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

// #endregion
