.recommend {

    &__products {
      display: grid;
      row-gap: 40px;
    }

    @include on-mobile {
        .recommend__products{
        grid-template-columns: repeat(1, 1fr);
        max-width: 280px;
        margin-inline: auto;
      }
    }

    @include on-tablet {
        .recommend__products{
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
        justify-items: center;
      }
    }

    @include on-desktop {
        .recommend__products{
        grid-template-columns: repeat(3, 1fr);
        margin-inline: auto;
        column-gap: 24px;
        max-width: 1020px;
        justify-items: stretch;
      }
    }
}

.recommend__section {
  width: 280px;
  height: 32px;
  margin-inline: auto;

  font-size: 32px;
  font-weight: 700;

  @media (min-width: $tablet-responsive) {
    min-width: 600px;
  }

  @media (min-width: $desktop-responsive) {
    min-width: 1020px;
  }
}

