.top-bar {
  display: flex;
  padding: 28px 20px;
  width: 100vw;

  height: $top-bar-height-mobile;
  gap: $mobile-icons;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  gap: $mobile-icons;
}

.top-bar__logo {
  display: flex;
}

// Mobile Responsive
@include on-mobile {
  .top-bar {
      padding: 28px 30px;
    }

    .top-bar__logo {
      width: $logo-mobile-width;
      height: $logo-mobile-height;
    }
}

// Tablet Responsive
@include on-tablet {
  .top-bar{
      padding-inline: 72px;
      gap: 276px;
      height: $top-bar-height-table-desktop;
    }

    .top-bar__logo {
      width: $logo-tablet-desktop-width;
      height: $logo-tablet-desktop-height;
    }

    .top-bar__icons {
      gap: $tablet-descktop-icons;
    }
}

// Desktop Responsive
@include on-desktop {
  .top-bar {
      padding-inline: 120px;
      height: $top-bar-height-table-desktop;
    }

    .top-bar__icons {
      gap: $tablet-descktop-icons;
      margin: 0;
    }
}
