// #region Variables

// logo

$logo-mobile-width: 152px;
$logo-mobile-height: 16px;
$logo-tablet-desktop-width: 228px;
$logo-tablet-desktop-height: 24px;

// top-bar

$top-bar-height-mobile: 72px;
$top-bar-height-table-desktop: 96px;

// icons

$mobile-icons: 24px;
$tablet-descktop-icons: 32px;
$margin-right-tablet: 72px;
$margin-right-desktop: 120px;

// Font

$font-default: Manrope, sans-serif;


// responsive

$mobilo-responsive: 320px;
$tablet-responsive: 744px;
$desktop-responsive: 1260px;

// padding

$padding-tablet-top-bar: 32px 72px;
$padding-desktop-top-bar: 32px 120px;

// color

$color-bck-menu: #F9F9F9;
$color-default: #1B2129;
$color-white: #FFF;

// #endregion
